# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribución / paquetes
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Archivos de entorno virtual
venv/
ENV/
env/
.venv/
.pyenv/

# Archivos de configuración del IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos temporales
*.swp
*.bak
*.tmp

# Archivos generados por Tkinter
*.png
*.ico
*.wav